.nav{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav ul a {
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all .23s;
}

@media (max-width: 600px){
    .mobile-menu {
        display: flex;
    }
.mobile-nav span::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
  }
  
  .mobile-nav span:first-child::before {
    content: '\f00d'; 
  }
  
  .mobile-nav span:last-child::before {
    content: '\f0c9'; 
  }
}

.mobile-nav {
    display: flex;
    align-items: center;
  }
  
  .mobile-menu {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .open-menu .mobile-menu::before {
    content: '\f00d'; 
  }
  
  .closed-menu .mobile-menu::before {
    content: '\f0c9';
  }
  
  .mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .mobile-nav ul li {
    padding: 10px;
  }
  
  .mobile-nav ul li a {
    text-decoration: none;
    color: #000;
  }

  .mobile-menu {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
    cursor: pointer;
  }
  
  .open-menu .mobile-menu:before {
    content: '\f00d';
  }
  
  .closed-menu .mobile-menu:before {
    content: '\f0c9'; 
  }